Source: ros-rolling-tensorrt-cmake-module
Section: misc
Priority: optional
Maintainer: Daisuke Nishimatsu <daisuke.nishimatsu@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ament-cmake-copyright <!nocheck>, ament-cmake-lint-cmake <!nocheck>, ament-cmake-xmllint <!nocheck>, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-tensorrt-cmake-module
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-ros-workspace
Description: Exports a CMake module to find TensorRT.
